<div class="container">
  <div class="header">
    <h1>Documents</h1>
  </div>

  <div class="filters">
    <div class="filter-section">
      <div class="filter-group">
        <label for="typeFilter">Document Type:</label>
        <select
          id="typeFilter"
          [(ngModel)]="selectedType"
          (change)="applyFilters()"
        >
          <option value="">All Types</option>
          <option *ngFor="let type of documentOptions.types" [value]="type">
            {{ type }}
          </option>
        </select>
      </div>

      <div class="filter-group">
        <label for="formatFilter">Format:</label>
        <select
          id="formatFilter"
          [(ngModel)]="selectedFormat"
          (change)="applyFilters()"
        >
          <option value="">All Formats</option>
          <option
            *ngFor="let format of documentOptions.formats"
            [value]="format"
          >
            {{ format }}
          </option>
        </select>
      </div>
      <button class="clear-btn" (click)="clearFilters()">Clear Filters</button>
    </div>

    <div class="filter-actions">
      <button class="add-btn" (click)="router.navigate(['/add'])">
        Add Document
      </button>
    </div>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Author</th>
          <th>Title</th>
          <th>Pages</th>
          <th>Type</th>
          <th>Format</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let doc of documents"
          (click)="router.navigate(['/edit', doc.id])"
          class="clickable"
        >
          <td>{{ doc.author }}</td>
          <td>{{ doc.title }}</td>
          <td>{{ doc.pages }}</td>
          <td>{{ doc.type }}</td>
          <td>{{ doc.format }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="edit-modal" *ngIf="editingDocument">
  <div class="modal-content">
    <h3>Edit Document</h3>
    <form (ngSubmit)="saveDocument()">
      <div class="form-group">
        <label for="edit-author">Author</label>
        <input
          type="text"
          id="edit-author"
          name="author"
          [(ngModel)]="editingDocument.author"
          required
        />
        <div class="error" *ngIf="formErrors.author">
          {{ formErrors.author }}
        </div>
      </div>

      <div class="form-group">
        <label for="edit-title">Title</label>
        <input
          type="text"
          id="edit-title"
          name="title"
          [(ngModel)]="editingDocument.title"
          required
        />
        <div class="error" *ngIf="formErrors.title">{{ formErrors.title }}</div>
      </div>

      <div class="form-group">
        <label for="edit-pages">Pages</label>
        <input
          type="number"
          id="edit-pages"
          name="pages"
          [(ngModel)]="editingDocument.pages"
          required
          min="1"
        />
        <div class="error" *ngIf="formErrors.pages">{{ formErrors.pages }}</div>
      </div>

      <div class="form-group">
        <label for="edit-type">Type</label>
        <select
          id="edit-type"
          name="type"
          [(ngModel)]="editingDocument.type"
          required
        >
          <option value="">Select a type</option>
          <option *ngFor="let type of documentOptions.types" [value]="type">
            {{ type }}
          </option>
        </select>
        <div class="error" *ngIf="formErrors.type">{{ formErrors.type }}</div>
      </div>

      <div class="form-group">
        <label for="edit-format">Format</label>
        <select
          id="edit-format"
          name="format"
          [(ngModel)]="editingDocument.format"
          required
        >
          <option value="">Select a format</option>
          <option
            *ngFor="let format of documentOptions.formats"
            [value]="format"
          >
            {{ format }}
          </option>
        </select>
        <div class="error" *ngIf="formErrors.format">
          {{ formErrors.format }}
        </div>
      </div>

      <div class="button-group">
        <button type="submit">Save Changes</button>
        <button type="button" (click)="cancelEdit()">Cancel</button>
      </div>
    </form>
  </div>
</div>
